<div class="adress-item" [formGroup]="form">
    <div class="adress-item__header">
        <div class="adress-item__switch-container">
            <app-switch-with-logic 
                [trueValue]="enumIp.IPv6" 
                [falseValue]="enumIp.IPv4"
                (eventSelected)="selectType($event)"
                 formControlName="type">
            </app-switch-with-logic>
            <span class="adress-item__switch-label">{{selectedIpType}}</span>
        </div>
        <!-- <button (click)="remove()">remove</button> -->
        <fa-icon class="adress-item__remove-icon" [icon]="faTrash"></fa-icon>


    </div>
    <div class="adress-item__ip-input">
        <ngx-ip 
            formControlName="adress" 
            [mode]="selectedIpType" 
            [copyMode]="'adress'">
        </ngx-ip>
        <span class="adress-item__error" *ngIf="isIpInvalid()">ip adress is invalid</span>

    </div>

    <div  class="adress-item__ip-input">
        <ngx-ip *ngIf="selectedIpType===enumIp.IPv4" 
           formControlName="subnetMask" 
           [mode]="enumIp.IPv4" 
           [copyMode]="'block'">
        </ngx-ip>
        <span class="adress-item__error" *ngIf="isMaskInValid()">subnet mask is invalid</span>
    </div>
   
    <input formControlName="comment" type="text">


</div>